<header class="hero">
  <img src="https://picsum.photos/id/63/1280/720" />
  <button class="close-btn" routerLink="/">Back</button>
</header>

<div class="content">
  <h1>Classic Coffee</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt iusto
    delectus labore, perferendis nisi natus, sapiente magnam incidunt corrupti
    sit, at ullam in. Saepe aliquid voluptatum inventore assumenda tenetur
    exercitationem ipsum quas, quae vero. Aspernatur est optio in a, nulla nemo.
    Aut tenetur recusandae corrupti cumque ullam beatae iusto ipsa ab dolores,
    quibusdam aspernatur quos magnam id, fugit quis! Quod, tempore iure? Optio
    commodi voluptatem fugit, mollitia sit dolorem ut magni eveniet repellat
    quis similique. Veritatis quasi in dolor placeat dolore ad optio magni
    tenetur tempore voluptates officia accusamus aspernatur autem, saepe dolorum
    quidem excepturi debitis earum suscipit illo. Nemo doloremque dolores quas
    earum dicta excepturi esse nisi, officia, iusto omnis doloribus! Saepe, fuga
    delectus. Laboriosam culpa dolores voluptatum. Perspiciatis officiis nostrum
    quis esse quaerat libero eos, voluptatem a odit debitis quod inventore nobis
    reprehenderit voluptatibus facilis saepe eum dolores nisi, quas animi totam
    cum aperiam incidunt ratione! Nulla sed ipsum atque aliquid sint, quas
    debitis dolorum? Molestias ut error dicta assumenda repellat, commodi
    dolores corrupti architecto accusamus doloribus sed quo animi corporis illo
    quas nihil facere, nemo eos atque quidem similique iure, veritatis
    asperiores ratione. Eveniet, ipsa! Error perspiciatis numquam fuga
    perferendis placeat commodi vitae voluptatem quis beatae adipisci.
  </p>
</div>
